
// https://color.adobe.com/create/color-wheel/?base=2&rule=Shades&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.33082527916936766,0.5777340410554943,0.75,0.22055018611291177,0.38515602737032956,0.5,0.44110037222582354,0.7703120547406591,1,0.11027509305645589,0.19257801368516478,0.25,0.3969903350032412,0.6932808492665932,0.9&swatchOrder=0,1,2,3,4

$theme-color-a: rgb(112, 196, 255);
$theme-text-color-a: rgb(28, 49, 64);
$theme-color-b: rgb(84, 147, 191);
$theme-text-color-b: rgb(229, 242, 253);
$theme-color-c: rgb(56, 98, 127);
$theme-text-color-c: rgb(229, 242, 253);
$theme-color-d: rgb(28, 49, 64);
$theme-text-color-d: rgb(112, 196, 255);

$button-color: rgb(28, 49, 64);
$button-text-color: rgb(229, 242, 253);
$delete-button-color: rgb(127, 27, 20);

$form-input-bg-color: rgb(225, 241, 255);
